---
import Layout from '../layouts/Layout.astro';
import ProfileHeader from '../components/ProfileHeader.astro';
import WorkExperience from '../components/WorkExperience.astro';
import About from '../components/About.astro';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<ProfileHeader />
		<About />
		<WorkExperience />
		<Skills />
		<Education />
		<Projects />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding-block: 1.6rem;
		width: 80ch;
		max-width: calc(100% - 24px);
		color: white;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
</style>
