---
import Layout from '../layouts/Layout.astro';
import ProfileHeader from '../components/ProfileHeader.astro';
import WorkExperience from '../components/WorkExperience.astro';
import About from '../components/About.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<ProfileHeader />
		<About />
		<WorkExperience />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding-block: 1.6rem;
		width: 80ch;
		color: white;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
</style>
