<section>
	<h1>Skills</h1>
	<ul>
		<li>Typescript</li>
		<li>Laravel</li>
		<li>Elixir</li>
		<li>NextJS</li>
		<li>Docker</li>
		<li>Mysql</li>
		<li>MongoDB</li>
	</ul>
</section>

<style>
	ul {
		list-style: none;
		padding-left: 0;
		display: flex;
		gap: 12px;

		& li {
			padding: 6px 12px;
			background-color: rgb(255, 255, 255, 0.1);
			border-radius: 4px;
			font-size: 0.8rem;
		}
	}
</style>
