---
const { time } = Astro.props;
---

{
	time ? (
		<time class="time" datetime={time.toISOString()}>
			{time.getFullYear()}
		</time>
	) : (
		<span class="time">Present</span>
	)
}

<style>
	.time {
		font-size: 0.8em;
	}
</style>
