---
import '@fontsource/dejavu-mono/400.css';
import '@fontsource/dejavu-mono/700.css';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'DejaVu Mono', sans-serif;
		background: #1b2022;
		background-size: 224px;
		font-size: 16px;

		& p,
		ul,
		h1,
		h2,
		span,
		i {
			color: #fff8ef;
			margin: 0;
		}
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	h1 {
		font-size: 1.4rem;
		font-weight: 700;
	}

	h2 {
		font-size: 1.3rem;
	}

	p {
		font-size: 1rem;
	}
</style>
